
a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, 
em, embed,
fieldset, figcaption, figure, font, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins,
kbd, 
keygen,
label, legend, li, 
meter,
nav,
object, ol, output,
p, pre, progress,
q, 
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, tdvideo, tt,
u, ul, 
var{
    background: transparent;
    font-size: 100%;
    border: 0 none;
    margin: 0;
    padding: 0;
    vertical-align: baseline; }
   
body {
    display: flex;
    flex-flow: column;
}

/*Navigation*/
nav {
    background-color: ##ffffff;
    width: 100%;
    height: 3em;
    border-bottom: 1px solid black;
}

#logo {
    position: absolute;
    left: 20%;
}

ul {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 70%;
    margin-top: 10px;
}

li,
li a {
    padding: 5px;
    text-decoration: none;
    list-style: none;
    color: black;
}


/* Diaporama*/
h1 {
    display: flex;
    position: relative;
    padding: 10px;
    margin: auto;
}

.line {
    border-bottom: 1px solid red;
    width: 20em;
    position: relative;
    margin-bottom: 2em;
}

#diaporama {
    height: 10%;
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin-bottom: 40px;
}

.cadrediapo {
    min-height: 400px;
    max-height: 600px;
    position: relative;
    margin: auto;
}

figure {
    opacity: 0;
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    top: 50%;
    transition: opacity 1s;
    max-width: 600px;
}

figcaption {
    display: block;
    top: 10em;
    left: 25em;
    position: absolute;
    color: #000;
    background-color: rgba(255, 255, 255, 0.5);
}

.precedent,
.suivant{
    color: silver;
    transition: color .4s linear;
    transform: translatey(-50%);
    top: 50%;
    padding: .5rem;
    font-size: 3rem;
    background: none;
    position: absolute;
    border: none;
    text-decoration: none;
    cursor: pointer;

}
.precedent:hover,
.suivant:hover{
    color: black
}

.precedent{
    left: -300px;
}
.suivant{
    right:-310px
}
.play{
    font-size: large;
    top: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}



/*Carte interactive*/

#map {
    /* la carte DOIT avoir une hauteur sinon elle n'apparaît pas */
    height: 700px;
    max-width: 70%;
    width: 70%;
    margin: auto;
}

/*Footer*/
footer {
    background-color: #a5a5a5;
    color: #fff;
    text-align: center;
    margin-top: 10em;
    height: 5em;
}

footer p {
    position: absolute;
    left: 50%;
    margin-top: 2em;
}